.about-so {
  padding: 80px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.about-skills {
  list-style: none;
  padding: 0;
}

.about-skills li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.about-project {
  padding: 80px 0;
  background-color: white;
  text-align: left;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  gap: 40px;
}

.scorefoot-logo img {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.scorefoot-link {
  text-decoration: none;
  color: gray;
}

#simple-trick a {
  cursor: pointer;
}
